<h1>Delete <%= @hosts.fullname%>  <%= @hosts.email_address%></h1>
<form action="/hosts/<%= @host.id%>" method="post">
	<input type="hidden" name="_method" value="delete">
	<div>
		<label>FullName:</label>
		<input type="text" name="host[fullname]" value="<%= @host.fullname%>" disabled>
	</div>
	<div>
		<label>Email:</label>
		<input type="text" name="host[email]" value="<%= @host.email%>" disabled>
	</div>
	<input type="submit" value="Delete">
</form>
