<h1>Delete <%= @host.first_name%> <%= @host.last_name%> <%= @host.email_address%></h1>
<form action="/hosts/<%= @host.id%>" method="post">
	<input type="hidden" name="_method" value="delete">
	<div>
		<label>First Name:</label>
		<input type="text" name="host[first_name]" value="<%= @host.first_name%>" disabled>
	</div>
	<div>
		<label>Last Name:</label>
		<input type="text" name="host[last_name]" value="<%= @host.last_name%>" disabled>
	</div>
	<div>
		<label>Email:</label>
		<input type="text" name="host[last_name]" value="<%= @host.email_address%>" disabled>
	</div>
	<input type="submit" value="Delete">
</form>
