<h1>Edit <%= @hosts.fullname%> <%= @hosts.email%></h1>
<form action="/hosts/<%= @host.id%>" method="post">
	<div>
		<label>FullName:</label>
		<input type="text" name="host[fullname]" value="<%= @host.fullname%>">
	</div>
	<div>
		<label>Email:</label>
		<input type="text" name="host[email]" value="<%= @host.email%>">
	</div>
	<input type="submit" value="Update">
</form>
<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<div><%= e %></div>
	<% end %>
<% end %>