<h1> <%= pluralize(@hosts.count, "Host") %></h1>
<table class="table table-striped">
	<thead>
		<th scope="col">Full Name</th>
		<th scope="col">Email</th>
	</thead>
	<tbody>
		<% @hosts.each do |host| %>
		<tr>
			<td><%= host.fullname %></td>
			<td><%= host.email %></td>
			<td>
				<a href="/hosts/<%= host.id %>/edit">Edit</a> |
				<a href="/hosts/<%= host.id %>/delete">Delete</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
